@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&family=Open+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  transition: 200ms;
}
.header img {
  width: 30px;
}
.header .hide-desktop {
  cursor: pointer;
}
.header .logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transform: rotate(-3deg);
}
.header .logo a img {
  width: 30px;
}
.header .logo a span {
  font-size: 25px;
  color: #1182A4;
  font-weight: 700;
  font-family: "Lobster", cursive;
}
.header .logo:hover img {
  animation: linear heart 3s infinite;
}
.header .navbar.active {
  transform: translate(-50%) scale(1);
  display: flex;
}
.header nav {
  z-index: 1;
}
.header nav div {
  border-bottom: 1px solid #1182A4;
  width: 100%;
}
.header nav button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  outline: none;
  font-size: 30px;
  color: #1182A4;
  cursor: pointer;
}
.header nav a {
  margin: 0 20px 0 0;
  color: #1182A4;
  font-weight: 700;
  transition: 0.3s;
}
.header nav a:nth-child(4):hover {
  background-color: #1182A4;
  color: white;
}
.header nav a:nth-child(4) {
  padding: 10px 30px;
  border: 1px solid #1182A4;
  border-radius: 6px;
  margin: 0 10px;
}
@media (max-width: 63.9375em) {
  .header nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    z-index: 11;
    transform: scale(0);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 50px 20%;
    background-color: white;
    border-radius: 10px;
  }
}
@media (max-width: 87.45em) {
  .header {
    padding: 25px 20px !important;
  }
}

.hero {
  min-height: calc(100vh - 82px);
  max-width: 100%;
  padding: 0 0 0 200px;
}
@media (max-width: 87.45em) {
  .hero {
    padding: 0 20px;
  }
}
.hero__area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: calc(100vh - 82px);
}
@media (max-width: 63.9375em) {
  .hero__area {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
.hero__image {
  flex: 1;
}
@media (max-width: 63.9375em) {
  .hero__image {
    order: 1;
  }
}
.hero__image > img {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  right: 0;
  max-width: 600px;
  border-radius: 50%;
}
@media (max-width: 63.9375em) {
  .hero__image > img {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 35%;
    max-width: 500px;
  }
}
@media (max-width: 39.9375em) {
  .hero__image > img {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 35%;
    max-width: 300px;
  }
}
.hero__image .icons img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  animation: spin 8s infinite linear;
  transition: 0.5s forwards;
}
.hero__image .icons img:nth-child(1) {
  right: 450px;
}
@media (max-width: 39.9375em) {
  .hero__image .icons img:nth-child(1) {
    right: 70%;
  }
}
@media (max-width: 63.9375em) {
  .hero__image .icons img:nth-child(1) {
    top: 50%;
    right: 70%;
  }
}
.hero__image .icons img:hover {
  opacity: 90%;
}
.hero__image .icons img:nth-child(2) {
  animation: linear heart 1.5s infinite;
  top: 60%;
  right: 250px;
  border-radius: 50%;
}
@media (max-width: 63.9375em) {
  .hero__image .icons img:nth-child(2) {
    top: 50%;
    right: 45%;
  }
}
@media (max-width: 39.9375em) {
  .hero__image .icons img:nth-child(2) {
    right: 40%;
  }
}
.hero__image .icons img:nth-child(3) {
  animation: linear vibrate 1.5s infinite;
  top: 30%;
  right: 450px;
  border-radius: 50%;
}
@media (max-width: 63.9375em) {
  .hero__image .icons img:nth-child(3) {
    right: 65%;
  }
}
@media (max-width: 39.9375em) {
  .hero__image .icons img:nth-child(3) {
    right: 70%;
  }
}
.hero__image .icons img:nth-child(4) {
  animation: linear toTop 0.9s infinite;
  top: 30%;
  right: 30px;
}
@media (max-width: 63.9375em) {
  .hero__image .icons img:nth-child(4) {
    right: 25%;
  }
}
@media (max-width: 39.9375em) {
  .hero__image .icons img:nth-child(4) {
    right: 10%;
  }
}
.hero__image .icons img:nth-child(5) {
  animation: linear vibrate 1.5s infinite;
  top: 50%;
  right: 30px;
}
@media (max-width: 63.9375em) {
  .hero__image .icons img:nth-child(5) {
    right: 25%;
  }
}
@media (max-width: 39.9375em) {
  .hero__image .icons img:nth-child(5) {
    right: 10%;
  }
}
.hero__info {
  margin-bottom: 50px;
  text-align: center;
}
@media (max-width: 63.9375em) {
  .hero__info {
    order: 2;
  }
}
@media (max-width: 39.9375em) {
  .hero__info {
    margin-bottom: 10px;
  }
}
.hero__info button {
  cursor: pointer;
  padding: 20px 30px;
  border: none;
  background-color: white;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 700;
  transition: 0.3s;
  color: #2FA7B4;
}
.hero__info h1 {
  margin-bottom: 50px;
  color: #2FA7B4;
}
@media (max-width: 39.9375em) {
  .hero__info h1 {
    margin: 10px 0;
  }
}
.hero__info h1::after {
  content: " :)";
  color: white;
}
.hero__info p {
  font-size: 20px;
  color: white;
  font-weight: 400;
  letter-spacing: 3px;
  margin-bottom: 50px;
}
@media (max-width: 39.9375em) {
  .hero__info p {
    margin: 20px 0;
  }
}
.hero__info > button {
  background-color: #2FA7B4;
  color: white;
}
.hero__info > button:hover {
  opacity: 90%;
}
.hero__info button:first-child {
  margin-left: 10px;
}
@media (max-width: 39.9375em) {
  .hero__info button:first-child {
    margin: 10px 0 0 0;
  }
}
.hero__info button:first-child:hover {
  background-color: #2FA7B4;
  color: white;
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.overlay, .contact__overlay {
  position: fixed;
  background-image: linear-gradient(to left, rgba(44, 62, 80, 0.9), #000000);
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.contact {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translateX(-50%) scale(0);
  transition: 200ms ease-in-out;
  width: 600px;
  max-width: 80%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 15px;
  z-index: 11;
  background-image: white;
  border: 1px solid #1182A4;
}
.contact__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #1182A4;
  padding-bottom: 15px;
}
.contact__info h3 {
  color: #1182A4;
}
.contact__info > button {
  cursor: pointer;
  border: none;
  outline: none;
  font-weight: 700;
  background: none;
  font-size: 20px;
}
.contact__overlay {
  z-index: 10;
  transition: 200ms ease-in-out;
  opacity: 0;
  pointer-events: none;
}
.contact.active {
  transform: translateX(-50%) scale(1);
}
.contact__overlay.active {
  opacity: 1;
  pointer-events: all;
}
.contact__form {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  grid-area: 15px;
  padding: 30px 0;
}
.contact__form > button {
  cursor: pointer;
  padding: 15px 30px;
  border: none;
  background-color: #2FA7B4;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  transition: 0.3s;
  color: white;
}
.contact__form label {
  color: #1182A4;
  font-size: 700;
}
.contact__form input, .contact__form textarea {
  width: calc(100% - 50px);
  padding: 15px 20px;
  margin: 15px 0;
  border-radius: 5px;
  outline: none;
  border: 1px solid #1182A4;
  resize: none;
  background-color: #f8f8f8;
}
.contact__form .social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact__form .social a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact__form .social a img {
  width: 50px;
  height: 50px;
}
.contact__form .social span {
  font-weight: 700;
  font-family: "Lobster", cursive;
  letter-spacing: 1px;
  color: #2FA7B4;
}
.contact__form .social a:hover {
  opacity: 80%;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 25px 200px;
}

a, a::before, a::after {
  text-decoration: none;
}

body {
  font-family: "Bitter", serif;
  background-image: linear-gradient(to right, #F5F7FA, #B8C6DB);
  margin: 0;
  padding: 0;
}

.icon {
  width: 30px;
  height: 30px;
  margin: 25px;
}

.clicked {
  color: red;
}

.button {
  cursor: pointer;
  padding: 10px 10px;
  border: none;
  background-color: #1182A4;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 700;
  transition: 0.3s;
  color: white;
}

.html {
  background-color: #e34f26;
}

.js {
  background-color: #f7df1e;
}

.css {
  background-color: #264de4;
}

.sass {
  background-color: #CD669A;
}

@media (max-width: 63.9375em) {
  .hide-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-desktop {
    display: none;
  }
}

nav a[aria-current=page] {
  text-decoration: underline wavy #2FA7B4 0.15rem;
  text-underline-offset: 0.5rem;
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes vibrate {
  0% {
    transform: translate3d(1px, 2px, 0) scale3d(1.05, 1.05, 1);
  }
  25% {
    transform: translate3d(2px, -1px, 0) scale3d(0.95, 0.95, 1);
  }
  50% {
    transform: translate3d(-1px, 2px, 0) scale3d(1.05, 1.05, 1);
  }
  75% {
    transform: translate3d(2px, -1px, 0) scale3d(0.9, 0.9, 1);
  }
}
@keyframes heart {
  0% {
    transform: scale3d(1, 1, 1);
  }
  7% {
    transform: scale3d(0.95, 0.95, 1);
  }
  10% {
    transform: scale3d(1.225, 1.225, 1);
  }
  15% {
    transform: scale3d(1, 1, 1);
  }
  17% {
    transform: scale3d(0.9, 0.9, 1);
  }
  20% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes compass {
  50% {
    transform: rotate3d(0, 0, 1, -90deg);
  }
}
@keyframes rotation {
  87% {
    transform: rotate3d(0, 0, 1, -360deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, -360deg);
  }
}
@keyframes toTop {
  from {
    margin: 0;
  }
  to {
    margin: 5px;
  }
}
.about_header {
  border-bottom: 1px solid #1182A4;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 83px);
  width: 100%;
}
@media (max-width: 87.45em) {
  .about {
    padding: 25px 20px !important;
  }
}
@media (max-width: 63.9375em) {
  .about {
    flex-direction: column;
  }
}
.about__info {
  flex: 1;
}
@media (max-width: 63.9375em) {
  .about__info {
    order: 2;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.about__info h1, .about__info h2 {
  margin: 50px 0 50px;
  width: fit-content;
  color: white;
  background-color: #1182A4;
  padding: 5px;
  transform: rotate(-5deg);
}
@media (max-width: 63.9375em) {
  .about__info h1, .about__info h2 {
    margin: 25px 0 25px;
  }
}
.about__info p {
  width: 50%;
  color: gray;
  line-height: 1.8;
  font-weight: 400;
}
@media (max-width: 39.9375em) {
  .about__info p {
    width: 100%;
  }
}
.about__image img {
  max-width: 400px;
  border-radius: 50%;
}
@media (max-width: 63.9375em) {
  .about__image img {
    max-width: 300px;
  }
}
.about__image:hover {
  opacity: 0.95;
  margin-bottom: 10px;
}
.about small {
  display: block;
  margin-bottom: 25px;
  font-weight: 700;
  color: #1182A4;
}

.about__skills {
  display: flex;
  flex: 1;
  gap: 10px;
  width: fit-content;
  border: 1px solid #1182A4;
  border-radius: 10px;
  padding: 5px;
}
@media (max-width: 39.9375em) {
  .about__skills {
    gap: 5px;
  }
}
.about__skills__card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
@media (max-width: 39.9375em) {
  .about__skills__card {
    flex-direction: column;
  }
}
.about__skills__card span {
  color: gray;
  padding-top: 15px;
  font-weight: 400;
}

.projects h1, .projects h2 {
  text-align: center;
  margin: 30px auto;
  color: #1182A4;
  border-bottom: 10px;
  width: fit-content;
  color: white;
  background-color: #1182A4;
  padding: 5px;
  transform: rotate(-2deg);
  border-radius: 5px;
}
.projects__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 30px;
}
.projects__container .project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.projects__container .project img {
  width: 100%;
  display: block;
  border-radius: 10px;
  opacity: 0.9;
  height: 100%;
}
.projects__container .project__overlay {
  transition: 300ms ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  background-image: linear-gradient(to left, rgba(44, 62, 80, 0.9), #000000);
  border-radius: 10px;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  pointer-events: all;
}
.projects__container .project__info {
  color: white;
}
.projects__container .project h3 {
  color: white;
  text-align: center;
  font-size: 14px;
  border-bottom: 1px solid #1182A4;
}
.projects__container .project__tools {
  display: flex;
  gap: 10px;
  color: #1182A4;
}
.projects__container .project__tools span {
  padding: 5px 10px;
  color: white;
  text-align: center;
  border-radius: 40px;
  flex-wrap: wrap;
}
.projects__container .project:hover .project__overlay {
  opacity: 1;
  width: 100%;
}/*# sourceMappingURL=style.css.map */