$mainBage : #CDCABC;
$mainColor : #1182A4;
$heroColor : #2FA7B4;
$blackGradient: linear-gradient(to left, rgb(44 62 80 / 90%), #000000);
$veryBlackGradient: linear-gradient(to left, rgb(44 62 80), #000000);
$globalGradient: linear-gradient(to right, #F5F7FA, #B8C6DB);